.after-login-container {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    padding-bottom: 20px;
}
.header-title {
    font-size: 13px;
    font-family: 'Lato';
    color: #838383;
    
}
.header-title > p {
    padding-top: 10px;
    margin-left: 12rem;
}
.header-list {
    padding-right: 14rem;
}
.header-list ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 1rem;
}

.listItem {
        list-style: none;
        /* float: right; */
        font-family: 'Vollkorn';
        padding: 4px;
        border-radius: 2px;
        
}

.main-title {
    font-size: 36px;
    font-family: 'Dosis';
}
.img1 > img, .img2 > img {
    width: 180px;
    height: 180px;
    border-radius: 10%;
}
.input {
    border: none;
    background-color: #efecec;
    width: 220px;
    height: 35px;
    border-radius : 10px;
}
.input-section > button{
    background-color: rgb(255,196,60);
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 50px;
    margin-left: 1%;
    font-family: 'Nunito';
}

.text-below-input{
    margin: 2rem 0rem 0rem 12rem;
    font-family: 'Lato';
    color: #838383;
    font-family: 'Nunito';
    font-size: 13px;
}
.more-button {
    background-color: rgb(255,196,60);
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 100px;
    font-family: 'Nunito';
    margin-top: 10px;
}
.second-title {
    margin: 3rem 0rem -5rem 13rem;
    font-family: 'Noto Sans TC';
    color: #838383;
}
.item-card-section-title {
    margin: 5% 5%;
font-family: 'Vollkorn';
color: #333333;
text-align: center;
}
.item-card-section {
padding-left: 5%;
}
.item-card-section > div {
    margin-left: 5%;
}
.canteen-cards {
    display: flex;
    justify-content: center;
}
.bottom-section-title {
    margin-top: 6%;
    font-family: 'Noto Sans TC';
 color: #333333;
 opacity: .8;
 text-align: center;
 
}
.signIn:hover {
    font-size: 15px;
}
.listItem:hover {
    background-color: #ffe05d ;
    transition: 0.2s;
}
.item:hover {
    box-shadow: 8px 12px 12px #a6a9b6;
    color:#153e90;
    transition: .1s;
}
.cart:hover {
    background-color: #f8f1f1;
}
.canteenCard:hover {
    box-shadow: 8px 12px 12px #a6a9b6;
    /* color:#153e90; */
    transition: .1s;
}
@media only screen and (min-width: 1347px){
    .item-card-section {
        padding-left: 11%;
    }
   
}
@media only screen and (max-width: 991px){
    .item-card-section {
        padding-left: 20%;
    }
 
    .bottom-section-title {
        margin-right: 10%;
    }
}